@font-face {
  font-family: "orbitron";
  src: url("./orbitron.ttf");
}

html {
  font-family: 'Orbitron', sans-serif;
  color: #444444;
  margin: 0 auto;
  text-align: center;

}

.button {
  color: #dbd3c3;
  text-align: center;

  width: 90vw;
  padding: 2vh;
  text-align: center;
  border-radius: .5vh;
  -webkit-appearance: none;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-family: 'Orbitron', sans-serif;
  background: #807156;
  outline: none;
  border: 0;
  font-size: 3vh;
}

option {
  text-align: left;
}

select {
  padding: 2vh;
  outline: none;
  text-align: center;
  text-align-last: center;

  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
  color: #dbd3c3;
  border-radius: .5vh;
  width: 90vw;

  -webkit-appearance: none;
  margin-top: 1vh;
  background: #807156;
  border: 0;
  font-size: 3vh;
}

h1 {
  display: block;
  line-height: 4vh;
  font-size: 5vh;
  margin-top: 1vh;
  padding: 0;
  text-align: center;
  font-weight: normal;
}

h2 {
  display: block;
  line-height: 2vh;
  font-size: 2vh;
  margin-top: 1vh;
  padding: 0;
  text-align: center;
  font-weight: normal;
}

.result {
  padding-top: 1vh;
  margin: 0 auto;
  width: 90vw;
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 3vh;
}

video {
  display: block;
  width: 90vw;
  border-radius: .5vh; 

  padding: 0;
  margin: 0 auto;
}

img {
  visibility: visible;
  display: block;
  margin: 0 auto;

}

canvas {
  display: block;
  width: 90vw;
  visibility: hidden;
  margin: 0 auto;
}