@font-face {
  font-family: "orbitron";
  src: url("./orbitron.ttf");
}

html {
  font-family: 'Orbitron', sans-serif;
  color: #3b3b3b;
  margin: 0 auto;
  text-align: center;
  background: #44c707;
 
}



option {
  text-align: left;
}

.stop {
  font-family: 'Orbitron', sans-serif;

  position: relative;
  animation: blinker 1s linear infinite;

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

select {
  padding: 2vh;
  outline: none;
  visibility: hidden;

  text-align: center;
  text-align-last: center;
  color: #333333;

  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
  border-radius: 1vh;
  width: 20vw;

  -webkit-appearance: none;
  margin-bottom: 1vh;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  font-size: 3vh;
}

h1 {
  display: block;
  font-family: 'Noto Sans TC', sans-serif;

  font-size: 5vh;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: normal;
}

h2 {
  display: block;
  font-size: 2vh;
  padding: 0;
  text-align: center;
  font-weight: normal;
}

.result {
  padding-top: 1vh;
  margin: 0 auto;
  width: 400px;
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 3vh;
}

video {
  display: inline;
  visibility: hidden;
  width: 90vw;
  border-radius: 1vh; 

  padding: 0;
  margin: 0 auto;
}

img {
  visibility: none;
  margin: 0 auto;
  height: 100%;
}

.wrapthis {
  max-height: 7vh;
  height: 7vh;
  display: block;

}
canvas {
  display: none;
  width: 90vw;
  visibility: hidden;
  margin: 0 auto;
}